.caht-main
  .chat-main__group_info
    %ul 
      %li
        = @group.name
        %p
          Member:
          - @group.users.each do |user|
            = user.name
    =link_to "Edit", edit_group_path(@group), class: "chat-main__group_info-edit"
  .chat-main__message
    = render @messages 
  .chat-main__message-form
    = form_for [@group,@message] do |f|
      =f.text_field :content, class:'input-box-text',placeholder: 'type a message'
      = f.label :image, class: "input-box-image" do
        = icon('far','image')
        = f.file_field :image,class: "input-box-image-file"
      =f.submit 'Send',class:'chat-main__message-form-btn'